### --- SYSTEM & ARCHIVES ---
.DS_Store
thumbs.db
*.zip
*.tar.gz
*.rar

### --- IDE (VS Code, IntelliJ) ---
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/resources/
!**/src/test/resources/

### --- JAVA & SPRING BOOT ---
# Build
target/
build/
.gradle/
bin/
*.class
*.war
*.ear
*.jar

# Logs & Config
*.log
.factorypath
.project
.settings/
.classpath

### --- NODE / TYPESCRIPT / REACT / ANGULAR ---
node_modules/
dist/
tmp/
.npm
.eslintcache
.stylelintcache
*.tsbuildinfo

# Angular specific
.angular/

# Test reports
coverage/

### --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.env
.pytest_cache/
.mypy_cache/

### --- DOCKER ---
.docker/
*/postgres_data/

### --- TOOLS & UTILS ---
.terraform/
.vagrant/
.next/
.serverless/